{% extends 'layout/admin-base.html' %}
{% block content %}
    <!-- START Page Content -->
    <div class="container-fluid">
        <!-- Page Heading -->
        <h1 class="h3 mb-2 text-gray-800">View Booked Test</h1>
        <!-- DataTales Example -->
        <div class="card shadow mb-4">
            <div class="card-header py-3">
                <!-- <a href="{{ url_for('public.book_test') }}" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right">
                    <i class="fas fa-plus fa-sm text-white-50"></i>
                    Book New Test
                </a> -->
                <!-- <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm float-right">
                    <i class="fas fa-plus fa-sm text-white-50"></i>
                    Book New Test
                </a> -->
            </div>
            <div class="card-body">
                <form action="" method="post" enctype="multipart/form-data">
                    {{ form.hidden_tag() }}
                    <div class="row">
                        <!-- PATIENT NAME -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.patient_name.label(class="form-label") }}
                                {% if form.patient_name.errors %}
                                    {{ form.patient_name(class="form-control is-invalid", placeholder="Patient name", readonly='') }}
                                    <div class="invalid-feedback">
                                        {% for error in form.patient_name.errors %}<span>{{ error }}</span>{% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.patient_name(class="form-control", placeholder="Patient name", readonly='') }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- EMAIL -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.email.label(class="form-label") }}
                                {% if form.email.errors %}
                                    {{ form.email(class="form-control is-invalid", placeholder="Email") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.email.errors %}<span>{{ error }}</span>{% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.email(class="form-control", placeholder="Email") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- PHONE -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.phone.label(class="form-label") }}
                                {% if form.phone.errors %}
                                    {{ form.phone(class="form-control is-invalid", placeholder="Phone") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.phone.errors %}<span>{{ error }}</span>{% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.phone(class="form-control", placeholder="Phone") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- NEW TEST DATE -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.appointment_date.label(class="form-label") }}
                                {% if form.appointment_date.errors %}
                                    {{ form.appointment_date(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.appointment_date.errors %}<span>{{ error }}</span>{% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.appointment_date(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- NEW TEST NAME -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.test_name.label(class="form-label") }}
                                {% if form.test_name.errors %}
                                    {{ form.test_name(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.test_name.errors %}<span>{{ error }}</span>{% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.test_name(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                        <!-- UPLOAD REPORT -->
                        <div class="col-md-6">
                            <div class="mb-3">
                                {{ form.report.label(class="form-label") }}
                                {% if form.report.errors %}
                                    {{ form.report(class="form-control is-invalid") }}
                                    <div class="invalid-feedback">
                                        {% for error in form.report.errors %}<span>{{ error }}</span>{% endfor %}
                                    </div>
                                {% else %}
                                    {{ form.report(class="form-control") }}
                                {% endif %}
                            </div>
                        </div>
                    </div>

                    <div class="d-flex justify-content-end">
                        {{ form.submit(class="btn btn-lg btn-primary") }}
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- END Page Content -->
{% endblock %}
